/*
Pallate : F8F9FA E9ECEF DEE2E6 CED4DA ADB5BD 6C757D 495057 343A40 212529
*/
.Cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
  align-items: center;
}

.Card {
  background-color: #E9ECEF;
  color: aliceblue;
  height: fit-content;
  width: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
  /* Shadow on all sides */
}

.Card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.589);
  /* Shadow on all sides */
}

.Card-img {
  margin-top: 5px;
  width: 98%;
  max-height: 300px;
  object-fit: cover;
  background-color: rgb(200, 207, 211);
}

.Card-img:hover{
  cursor: pointer;
}

.Card-Title {
  color: #343A40;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
  width: 100%;
  /* Ensures the title takes the full width of the card */
  padding: 0 10px;
  font-weight: bold;
}

.Card-Title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Card-Name {
  color: #495057;
  align-self: flex-start;
  padding-left: 10px;
}

.Card-Name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Card-Value {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  color: #ADB5BD;
  justify-content: flex-start;
  /* Aligns all emotes to the left */
  width: 100%;
  /* Ensures the emotes take the full width of the card */
}

.Emotes {
  margin: 5px;
}

.Emotes:hover {
  cursor: pointer;
  color: #6C757D;

}

hr{
  border-top: 1px solid rgb(0, 0, 0);
  width: 90%;
  margin: 10px 0; /* Adds space above and below the line */

}

.Card-Software{
  color: #6C757D;
  align-self: flex-start; /* Aligns the text to the left */
  padding-left: 10px; /* Adds some padding to the left for better spacing */
  padding-bottom: 10px;
}