<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show users</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    {% for user in users %}
    <div class="profile">
      <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="100">
      <h3>{{ user.full_name }}</h3>
      <p>Email: {{ user.email }}</p>
      <p>Bio: {{ user.bio }}</p>
      <p>Institution: {{ user.institution }}</p>
      <p>Role: {{ user.role }}</p>
      <p>Country: {{ user.country }}</p>
      <p>Contact Info: {{ user.contact_info }}</p>
      <p>Skills: {{ user.skills }}</p>
    </div>
    {% endfor %}
  </div>
</body>
</html>
